body {
  background-color: #F5F2EF;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  font-size: 18px;
}


.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.leftColumn {
  background-color: #97A28B;
  border: 5px solid #C4CBBE;
  text-align: center;
  padding: 1.5rem; /* Equivalent to Bootstrap's p-4 */
}

.profile {
  width: 65%;
  border-radius: 20%;
  margin-bottom: 2em;
  border: 5px solid #3B4134;
  object-fit: cover;
}

h1 {
  color: #3B4134;
  font-size: 2.5em;
  margin-bottom: 0.1em;
  text-align: center;
  width: 100%;
}

h2 {
  color: #70412F;
  font-size: 1.6em;
  margin-bottom: 0.6em;
  text-align: center;
  width: 100%;
}

.locman{
  color: #3B4134;
  font-size: 1.3em;
  margin-top: 0.1em;
  margin-bottom: 2em;
  text-align: center;
  width: 100%;
}

.summary{
  font-size: 1.2em;
  margin-bottom: 0.5em;
  text-align: justify;
}

.aboutMe{
  font-size: 1.6em;
}

.contactText {
  width: 100%;
  text-align: center;
  font-size: 1.1em;
  color: black;
  line-height: 0.8;
  margin-bottom: 1.5em;
  word-wrap: break-word;
}

hr {
  border: none;
  border-top: 2px solid #F5F2EF;
  width: 100%;
  margin: 1em 0;
}

.myUL {
  padding-left: 1.2em;
  text-align: left;
  font-size: 1.1em;
  color: black;
  line-height: 1.6;
  margin: 0;
}

.myUL li {
  margin-bottom: 0.5em;
}

.actionButton {
  display: inline-block;
  margin-top: 0.5em;
  padding-top: 0.6em;
  padding-right: 1em;
  padding-bottom: 0.6em;
  padding-left: 1em; 
  background-color: #DACCC1;
  border: 3px solid #C2AB99;
  color: #70412F;
  font-size: 1.5em;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.centerButton {
  display: flex;
  justify-content: center;
}

.actionButton:hover {
  background-color: #C4CBBE;
}

@media (max-width: 600px) {
  body {
    font-size: 90%;
  }

  .leftColumn {
    width: 100%;
    text-align: left;
  }

  .rightColumn {
    padding: 1rem;
  }
}